<div>
  <%= render 'shared/workers', :locals => { :workers => workers} %>
</div>

<div class="action-button-group">
  <% %w(shutdown pause unpause).each do |command| %>
    <form action="<%= path_to 'workers_change_global_state' %>" class="inline" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="command" value="<%= command %>">
      <button type="submit" name="action" value="<%= command %>" class="pure-button button-error button-bottom" id="<%= command %>-button">
        <%= command.capitalize %> All
      </button>
    </form>
  <% end %>
  <form action="<%= path_to 'workers_purge_stale' %>" class="inline" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" name="action" value="purge" class="pure-button button-error button-bottom" id="purge-button">
      Purge Stopped Worker Info
    </button>
  </form>
</div>
