<%
  per_page ||= 10
  pagination = rows > per_page
%>

<script>
  $(document).ready(function() {

    <% if pagination %>
      var pagDiv = '<div class="pagination pure-menu pure-menu-open pure-menu-horizontal"></div>'
      $('#<%= list_id %>').prepend(pagDiv);
      $('#<%= list_id %>').append(pagDiv);
      $('.pagination').first().prepend('<ul class="paginationTop"></ul>');
      $('.pagination').last().prepend('<ul class="paginationBottom"></ul>');
    <% end %>

    var <%= list_id %>ListOptions = {
      valueNames: $('#<%= list_id %> th').map(function() { return $(this).data('sort') }),
      page: <%= per_page %>,
      <% if pagination %>
        plugins: [
          ListPagination({name: "paginationTop", paginationClass: 'paginationTop', outerWindow: 1}),
          ListPagination({name: "paginationBottom", paginationClass: 'paginationBottom', outerWindow: 1}),
        ]
      <% end %>
    };
    var <%= list_id %>List = new List('<%= list_id %>', <%= list_id %>ListOptions);
  });
</script>
