<% existing_wfids = Bumbleworks.dashboard.process_wfids %>
<div id="processes">
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th data-sort="id">ID</th>
        <th data-sort="entity">Entity</th>
        <th data-sort="definition">Type</th>
        <th data-sort="subscribed-events">Subscribed Events</th>
        <th data-sort="task-count">Tasks</th>
        <th data-sort="error-count">Errors</th>
        <th data-sort="tracker-count">Trackers</th>
      </tr>
    </thead>
    <tbody class="list">
    <% processes.each do |process| %>
      <% if existing_wfids.include?(process.id) %>
        <tr>
          <td class="id"><a href="<%= path_to 'processes_show', :id => process.id %>"><%= process.id %></a></td>
          <td class="entity"><%= process.entity_name %></td>
          <td class="definition"><%= process.definition_name %></td>
          <td class="subscribed-events"><%= process.subscribed_events %></td>
          <td class="task-count"><%= process.tasks.count %></td>
          <td class="error-count"><%= process.errors.count %></td>
          <td class="tracker-count"><%= process.trackers.count %></td>
        </tr>
      <% else %>
        <tr>
          <td colspan="3"><em>Process <%= process.id %> no longer exists.</em></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<% if respond_to?(:current_page) %>
  <%= render 'shared/pagination', :locals => { :pages => (existing_wfids.count / 10.0).ceil, :current_page => current_page.to_i, :paginated_route => 'processes_index' } %>
<% end %>

<%= render 'shared/list_js_script', :locals => {
  :list_id => 'processes',
  :rows => processes.count
} %>

