<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Status</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.4.2/pure-min.css">
  <link rel="stylesheet" href="<%= base_path %>/assets/css/side-menu.css">
  <link rel="stylesheet" href="<%= base_path %>/assets/css/application.css?<%= (Time.now.to_f * 100).floor %>">
  <link rel="stylesheet" href="<%= base_path %>/assets/css/ruote-fluo.css">
  <script src="<%= base_path %>/assets/js/jquery.js"></script>
  <script src="<%= base_path %>/assets/js/list.min.js"></script>
  <script src="<%= base_path %>/assets/js/list.pagination.min.js"></script>

</head>
<body>
<div id="layout">
  <!-- Menu toggle -->
  <a href="#menu" id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span></span>
  </a>

  <div id="menu">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="<%= path_to 'dashboards_show' %>">bumbleworks</a>
      <ul>
        <li><a href="<%= path_to 'entities_types' %>">Entities</a></li>
        <li><a href="<%= path_to 'processes_index', :page => 1 %>">Processes</a></li>
        <li><a href="<%= path_to 'trackers_index' %>">Trackers</a></li>
        <li><a href="<%= path_to 'tasks_index' %>">Tasks</a></li>
      </ul>
    </div>
  </div>

  <div id="main">
    <div class="header">
      <h1><%= title %></h1>
    </div>

    <div class="content">
      <%= yield %>
    </div>
  </div>

  <script src="<%= base_path %>/assets/js/foolbox.min.js"></script>
  <script src="<%= base_path %>/assets/js/ruote-fluo.min.js"></script>
  <script src="<%= base_path %>/assets/js/fluo_helper.js"></script>
  <script src="<%= base_path %>/assets/js/application.js"></script>
  <script>
    $(document).ready(function() {
      FluoHelper.drawAllSets();
    });
  </script>
</body>
</html>