<dl>
  <dt>Process</dt>
  <dd><a href="<%= path_to 'processes_show', :id => process.id %>"><%= process.id %></a></dd>

  <dt>Expression ID</dt>
  <dd><%= expression.expid %></dd>

  <dt>Actions</dt>
  <dd>
    <%= render 'expressions/actions', :locals => { :expression => expression } %>
  </dd>

<% if expression.error %>
  <dt>Error</dt>
  <dd><%= render 'shared/errors', :locals => { :errors => [expression.error], :context => :expression } %></dd>
<% end %>
</dl>