<dl>
  <dt>Process</dt>
  <dd><a href="<%= @request.script_name %>/processes/<%= @process.id %>"><%= @process.id %></a></dd>

  <dt>Expression ID</dt>
  <dd><%= @expression.fei.expid %></dd>

  <dt>Error</dt>
  <dd><%= @expression.error.message if @expression.error %></dd>
</dl>