<dl>
  <dt>Entities</dt>
  <dd>
  <%= render 'shared/entity_types', :locals => { :entity_classes => entity_classes} %>
  </dd>

  <dt>Recent Processes (<a href="<%= path_to 'processes_index', :page => 1 %>">View All <%= Bumbleworks::Process.count %></a>)</dt>
  <dd>
    <%= render 'shared/processes', :locals => { :processes => recent_processes } %>
  </dd>

  <dt>Recent Tasks (<a href="<%= path_to 'tasks_index' %>">View All <%= Bumbleworks::Task.count %></a>)</h3>
  <dd>
  <%= render 'shared/tasks', :locals => { :tasks => recent_tasks } %>
  </dd>

  <dt>Trackers</dd>
  <dd>
    <a href="<%= path_to 'trackers_index' %>">View all trackers (<%= Bumbleworks::Tracker.count %>)</a>
  </dd>
</dl