<h2>Processes</h2>
<div id="processes">
  <ul class="pagination paginationTop"></ul>
  <table>
    <thead>
      <tr>
        <th class="sort" data-sort="id">ID</th>
        <th class="sort" data-sort="entity">Entity</th>
        <th class="sort" data-sort="subscribed-events">Subscribed Events</th>
        <th class="sort" data-sort="task-count">Tasks</th>
        <th class="sort" data-sort="error-count">Errors</th>
        <th class="sort" data-sort="tracker-count">Trackers</th>
      </tr>
    </thead>
    <tbody class="list">
    <% @processes.each do |process| %>
      <tr>
        <td class="id"><a href="<%= @request.script_name %>/processes/<%= process.id %>"><%= process.id %></a></td>
        <td class="entity"><%= process.entity_name %></td>
        <td class="subscribed-events"><%= process.subscribed_events %></td>
        <td class="task-count"><%= process.tasks.count %></td>
        <td class="error-count"><%= process.errors.count %></td>
        <td class="tracker-count"><%= process.trackers.count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <ul class="pagination paginationBottom"></ul>
</div>

<script>
  var options = {
    valueNames: [ 'id', 'entity', 'task-count', 'error-count', 'tracker-count' ],
    page: 50,
    plugins: [
      ListPagination({name: "paginationTop", paginationClass: 'paginationTop', outerWindow: 1}),
      ListPagination({name: "paginationBottom", paginationClass: 'paginationBottom', outerWindow: 1}),
    ]
  };
  var trackerList = new List('processes', options);
</script>
