<div id="fluo"></div>

<dl>
  <dt>Process ID</dt>
  <dd><%= @process.id %></dd>

  <dt>Tasks</dt>
  <dd>
    <%= @tasks = @process.tasks; render 'shared/tasks' %>
  </dd>

  <dt>Trackers</dt>
  <dd>
    <%= @trackers = @process.trackers; render 'shared/trackers' %>
  </dd>

  <dt>Leaves</dt>
  <dd>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Expression</th>
          <th>Error</th>
        </tr>
      </thead>
      <tbody>
        <% @process.leaves.each do |l| %>
          <tr>
            <td><a href="<%= @request.script_name %>/processes/<%= @process.id %>/expressions/<%= l.fei.expid %>"><%= l.fei.expid %></a></td>
            <td><%= l.tree %></td>
            <td><%= l.error.message if l.error %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </dd>

  <script>
    var Fluos = {
      'fluo': {
        'tree': <%= Rufus::Json.encode(@process.original_tree) %>,
        'pins': [
        <% @process.leaves.each do |l| %>
          <% if l.error %>
            { 'expid': '<%= l.fei.expid %>', 'type': 'error', 'label': 'er' },
          <% else %>
            { 'expid': '<%= l.fei.expid %>', 'type': 'workitem' },
          <% end %>
        <% end %>
        ]
      }
    }
  </script>
</dl>