<h2><%= process.id %></h2>

<div id="fluo"></div>
<dl>
  <dt>Definition Name</dt>
  <dd><%= process.definition_name %></dd>

  <dt>Tasks</dt>
  <dd>
    <%= render 'shared/tasks', :locals => { :tasks => process.tasks } %>
  </dd>

  <% if process.has_entity? %>
    <dt>Entity</dt>
    <dd>
      <a href="<%= base_url %>/entities/<%= "#{process.entity.class.entity_type}/#{process.entity.id}" %>"><%= process.entity_name %></a>
    </dd>
  <% end %>

  <dt>Trackers</dt>
  <dd>
    <%= render 'shared/trackers', :locals => { :trackers => process.trackers } %>
  </dd>

  <dt>Leaves</dt>
  <dd>
    <%= render 'shared/expressions', :locals => { :expressions => process.leaves } %>
  </dd>

  <script>
    var Fluos = {
      'fluo': {
        'tree': <%= Rufus::Json.encode(process.original_tree) %>,
        'pins': [
        <% process.leaves.each do |l| %>
          <% if l.error %>
            { 'expid': '<%= l.expid %>', 'type': 'error', 'label': 'er' },
          <% else %>
            { 'expid': '<%= l.expid %>', 'type': 'workitem' },
          <% end %>
        <% end %>
        ]
      }
    }
  </script>
</dl>