<dl>
  <dt>ID</dt>
  <dd><%= tracker.id %></dd>

  <dt>Process</dt>
  <dd><a href="<%= base_url %>/processes/<%= tracker.wfid %>"><%= tracker.wfid %></a></dd>

  <dt>Expressions</dt>
  <dd><%= tracker.waiting_expression %></dd>

  <dt>Original Hash</dt>
  <dd><%= tracker.original_hash %></dd>
</dl>