<dl>
  <dt>ID</dt>
  <dd><%= task.id %></dd>

  <dt>Process</dt>
  <dd><a href="<%= path_to 'processes_show', :pid => task.wfid %>"><%= task.wfid %></a></dd>

  <dt>Role</dt>
  <dd><%= task.role %></dd>

  <dt>Claimant</dt>
  <dd class="claimant"><%= task.claimant || '<em>unclaimed</em>' %></dd>

  <dt>Actions</dt>
  <dd>
    <%= render 'tasks/actions', :locals => { :task => task } %>
  </dd>
</dl>
